:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

body * {
    font-size: 1.5rem;
}

button {
    border: 0;
    font-family: inherit;
    cursor: pointer;
}

textarea {
    font-family: inherit;
    resize: none;
}

.base-button {
    padding: 1.5rem;
    border-radius: 5px;
    font-size: 1.75rem;
}

.row {
    padding: 0 1rem;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
}

header .row {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 2rem;
}

.header__github-link {
    font-size: 3rem;
    color: #5f5f5f;
}

main {
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.main-sections {
    flex: 1;
}

.main__title {
    font-size: 3rem;
    font-weight: 500;
}

.secret-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secret-text__input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
    flex: 1;
}

.secret-text__input,
.result-text__output {
    border: none;
    outline: transparent;
    border-radius: 5px;
    background-color: inherit;
    flex: 1;
    text-align: start;
    font-size: 1.75rem;
    font-weight: 400;
}

.secret-text__text-helper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.secret-text__text-helper strong {
    text-decoration: none;
    font-weight: normal;
}

.secret-text__buttons-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.secret-text__button--encrypt {
    color: #eee;
    font-weight: 500;
    letter-spacing: 0.025rem;
    background-color: #333;
}

.secret-text__button--decrypt {
    letter-spacing: 0.025rem;
}

.result-text {
    height: 100%;
    width: 100vw;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all ease-in 0.2s;
}

.toggle-result {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

.result-text__container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    height: 93%;
    width: 100%;
}

.result-text__button-close {
    width: fit-content;
    align-self: flex-end;
    background: none;
    padding: 0rem;
}

.result-text__button-close .close-icon {
    font-size: 5rem;
}

.result-text__output {
    padding: 1rem 0;
    flex: 1;
    font-size: 1.75rem;
}

.result-text__no-output {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    flex: 1;
    gap: 1rem;
}

.result-text__image {
    margin: 10% auto 0 auto;
    width: 100%;
}

.result-text__message-title {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
}

.result-text__message-body {
    font-size: 1.25rem;
    color: #5f5f5f;
    margin: 0 auto;
    width: 90%;
    font-size: 1.5rem;
    text-align: center;
}

.result-text__button-copy {
    letter-spacing: 0.025rem;
}

.secret-text__button--decrypt,
.result-text__button-copy {
    --border-width: 3px;
    position: relative;
    border-radius: var(--border-width);
    background: #ffff;
}

.secret-text__button--decrypt::after,
.result-text__button-copy::after {
    --border-width: 3px;
    position: absolute;
    content: '';
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
}

@media (min-width: 500px) {
    header .row,
    .main-sections {
        width: 75%;
        margin: 0 auto;
    }

    .result-text {
        width: 100vw;
    }
}

@media (min-width: 1024px) {
    header > .row,
    main > .row {
        width: 65%;
        margin: auto;
    }

    .main-sections {
        display: flex;
        gap: 3rem;
    }

    .secret-text {
        padding: 0 1rem;
        flex: 1;
        padding: 1rem 0;
    }

    .secret-text,
    .result-text {
        height: 80vh;
    }

    .secret-text__input-container {
        padding: 1rem 0;
        flex: 1;
    }

    .secret-text__input {
        height: 100%;
        font-size: 2rem;
    }

    .secret-text__buttons-container {
        flex-direction: row;
    }

    .secret-text__button {
        flex: 1;
    }

    .result-text {
        width: 40%;
    }

    .result-text {
        position: static;
        background-color: initial;
        border-radius: 10px;
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
        transition: all ease-in 0.2s;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
            rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

    .result-text__button-close {
        display: none;
    }

    .result-text__container {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin: 0 auto;
        height: 100%;
    }

    .result-text__no-output {
        display: flex;
    }

    .show-no-result {
        display: none;
    }

    .result-text__output {
        display: none;
    }

    .show-text-output {
        display: flex;
    }
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}
